.title{
    position: absolute;
    font-size: 32px;
    text-align: center;
    top: 10px;
    left: 450px;
    right: 450px;
    color: white;
    background-image: radial-gradient(circle at 87.5% 12.5%, #153545 0, #13313d 8.33%, #132d35 16.67%, #14272c 25%, #152123 33.33%, #151a1a 41.67%, #131111 50%, #110405 58.33%, #0f0000 66.67%, #0b0000 75%, #060000 83.33%, #000000 91.67%, #000000 100%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
}

.subtitle{
    text-align: center;
    margin-top: 90px;
}

fieldset{
    border-color: black;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 15px;
}
.submit-button{
    width: 100px;
    height: 35px;
    padding: 5px;
    background-color: rgb(11, 237, 11);
    border-color: rgb(11, 237, 11);
    border-radius: 10px;
    font-size: 0.8rem;
    color: black;
    margin-left: 300px;
    margin-right: 250px;
}

h2{
    position: absolute;
    font-size: 25px;
    text-align: center;
    top: 300px;
    left: 500px;
    right: 500px;
    color: white;
    background-image: radial-gradient(circle at 87.5% 12.5%, #153545 0, #13313d 8.33%, #132d35 16.67%, #14272c 25%, #152123 33.33%, #151a1a 41.67%, #131111 50%, #110405 58.33%, #0f0000 66.67%, #0b0000 75%, #060000 83.33%, #000000 91.67%, #000000 100%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
}

.content{
    font-size: 17px;
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

table {
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    background: #fafafa;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    border-color: black;
  }
  
  tr:nth-child(even) {
    background: lightgray;
  }

  .form-text{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding: 10px;
}
.form-notes{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 10px;
    padding: 10px;
}